.birdInfo {
  display: flex;
  padding: 1rem;
  width: 100%;
}

.birdInfo__instruction {
  font-size: 2rem;
}

.birdInfo__card {
  display: flex;
  padding: 0;

  @media (max-width: 991px) {
    flex-direction: column;
    text-align: center;
  }
}

.birdInfo__birdImage {
  width: 200px;
  height: 155px;
  border-radius: 1rem;
  object-fit: cover;
  margin-right: 1rem;

  @media (max-width: 570px) {
    margin: auto;
  }
}

.birdInfo__list {
  flex-grow: 1;
  color: white;

  .list-group-item {
    &:hover {
      background-color: #32383e;
    }
  }
}

.birdInfo__name {
  font-size: 2rem;
}

.birdInfo__latin {
  font-size: 1.5rem;
}

.birdInfo__description {
  margin: 10px 0;
  color: white;
  font-size: 1.5rem;

  @media (max-width: 570px) {
    text-align: center;
  }
}