.pagination {
  display: flex;
  cursor: alias;
  pointer-events: none;
  font-size: 1.6rem;
  flex-wrap: wrap;

  .page-item {
    flex: auto;
    text-align: center;

    .page-link {
      cursor: default;
    }
  }
}